{% extends "base.template.html" %}
{% set language = "en" %}

{% set title -%}
Manon B-C
{% endset %}

{% set subtitle -%}
TODO
{% endset %}

{% set description -%}
TODO
{% endset %}

{% set keywords -%}
TODO
{% endset %}

{% set social_file = "social-en.png" %}

{% set copyright -%}
"© 2022-, TODO"
{% endset %}

{% block content %}
<div class="flex flex-col max-w-6xl py-6 mx-auto bg-gray-900 md:p-12 md:flex-row min-w-fit">
  <div class="flex-1 px-12 py-6">
    <!-- text-xl font-bold -->
{% markdown %}
## Yay
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed felis mattis, iaculis nunc ac, vulputate nulla. Nullam malesuada sollicitudin nibh, et ultrices lectus semper id. Nam faucibus pharetra elit congue consequat. Duis a placerat tortor, et euismod nulla. Fusce scelerisque gravida velit et luctus. Quisque tortor justo, dignissim eget diam et, ullamcorper lacinia justo. Phasellus vestibulum eros pretium libero molestie, vel faucibus diam pellentesque. Suspendisse vitae orci id nibh elementum tincidunt. Nunc aliquam est in ante aliquam placerat. Praesent consectetur nulla nunc, et condimentum massa pharetra sed. Donec venenatis justo sit amet facilisis tincidunt. In hac habitasse platea dictumst. Suspendisse laoreet fringilla aliquet.
{% endmarkdown %}
  </div>
  <div class="flex-1 px-12 py-6">
{% markdown %}
## Contact
Foo Bar<br>
Laissez-moi un message sur <a class="underline" href="#">Facebook</a> / <a class="underline" href="#">Instagram</a> / <a class="underline" href="#">Whatsapp</a> / que sais-je<br>
<a class="underline" href="tel:+33600000000">06 00 00 00 00</a><br>
12 rue du Schtroumpf<br>
{% endmarkdown %}
  </div>
</div>
{% endblock %}
