{% extends "index.html" %}

{% set noindex = True %}

{% set subtitle -%}
{% markdown %}
Terms and Conditions
{% endmarkdown %}
{% endset %}

{% block main %}

{% set back_to_site_title = "Back to the Website" %}

{% include "partials/_cgv_nav.html" %}
{% include "partials/_header.html" %}

<section class="w-full p-6 mx-0 bg-gray-100 min-w-fit md">
{% markdown %}
### Terms and Conditions

Terms in English on this page are provided as a courtesy. In case of a discrepency, the applicable Terms and Conditions are those found in French at [this address](/cgv).

Applicable starting on January 1st 2022.
Article L.441-6 and following from the code of commerce.

#### Service provider:

One-person company:

Manon Bourgeois-Cuny, 4, Rue de la Fontaine Royal, 16420 Lesterps, France.

Phone: 06.80.71.77.70. E-mail: [contact](mailto:)

- Siret number: 89915225000010, APE Code: 9609Z.
- Acaced number: 2022/21b9-fa18
- Professional Card number: 01621ED0025
- Professional Insurance with La Maif

#### Main characteristics of the services:

Manon Bourgeois-Cuny offers a service of visits and animal-sittings at home (horses, dogs, cats and others pets) in order to take care of these animals when their owners (hereafter named the “Customer”) are absent.

These current terms of sale represent the trade negotiation base and are systematically given to each Customer.
The terms of sale described here specify rights and obligations of Manon Bourgeois-Cuny and her Customer in the context of the service contract.
All acceptation of the sale's quote/contract with the clause “I acknowledge to be acquainted with the joined terms of sale and have accepted them all” imply the unconditional adherence of the Customer to these current terms of sale.

Frequency, length and price of the visits or animal-sittings will be defined according to the Customer need and will be notified on the sale's contract which will be signed by the two parties once created.
The sale's contract will also include contact details of Manon Bourgeois-Cuny as well as contact details of the Customer so they could be informed in case of an issue.
The usual vet's contact details will be noted so they could be contacted in an emergency case. If a veterinary intervention is needed, the Customer, if not reachable, allows Manon Bourgeois-Cuny to take the necessary measures: ask the vet to come by the Customer's home or move the animal to the vet clinic, depending of the possibilities.
No expense will be advanced from Manon Bourgeois-Cuny, and Manon Bourgeois-Cuny will allow herself to bill an extra cost at the end of the contract to refund the potential travel cost and to compensate the consequences of the exceptional situation management.
A detailed description of the tasks to do throughout visits or animals-sitting will be written thanks to the complete data given by the Customer and Manon Bourgeois-Cuny will commit herself to apply them thoroughly. The Customer must give all the information necessary to Manon Bourgeois-Cuny about the animals and their environment so she can perform the tasks at best.
Manon Bourgeois-Cuny commits herself to the confidentiality of every data concerning the Customer, their animals and their home.
The contract takes effect on the day it's signed by both parties: the Customer and Manon Bourgeois-Cuny.

The first meeting, which consists in a first visit, is free and allows to get acquainted with the Customer and his animals, to discover the tasks to be done, to evaluate the Customer's exact needs and to create a quote if necessary.
It does not bind any parties as far as the sale's contract is not signed by the Customer and Manon Bourgeois-Cuny. The latter can refuse a visit or an animal-sitting without having to justify herself.

The Customer is in charge of providing any items necessary for the well-being of his animals during his absence (food, water, litter, containers, useful tools, vet pharmacy, halters, leashes, toys…etc).
Manon Bourgeois-Cuny ensures to use only necessary items for the well-being of the animals when she visits or does an animal-sitting and to respect the whole Customer's property.

The Customer is bound to pay the invoice issued from Manon Bourgeois-Cuny in the terms notified in these terms of sale. Manon Bourgeois-Cuny is bound to execute the tasks asked by the Customer with the greatest care and with the best of her professional skills.

#### Pricing terms:

V.A.T. inapplicable, art.293 B of CGI (« Global Taxes Law »)

- One classic visit, for 1 or 2 animals, lasting around 30 minutes: 15 € + kilometer allowance*.
- One classic visit, for 1 or 2 animals, lasting around 1 hour: 20 € + kilometer allowance*.
- One visit for more than 2 animals and/or lasting more than 1 hour: Free personalized quote on request.
- One animal-sitting at home: Free personalized quote on request

*Kilometer allowance is calculated by the website « viamichelin.fr » the visiting day (it depends on the gas price, the distance between your house and mine at Lesterps, and my current car: renault clio II from 2003 1.2 16V 75).

Manon Bourgeois-Cuny grants herself the right to modify her prices at any time. However, she binds herself to bill the services ordered at the price indicated when the sale's contract was signed, except in case of a situation judged exceptional (for example the management of a vet emergency, an escaped of animals…) which will require a more important attendance time, among other things, and which will have a variable extra cost accordingly.

Payment terms:

- Payment by cheque accepted.
- Payment by cash accepted.
- Payment deadlines: the invoice for the delivery(ies) must be paid, at most, the thirtieth day following its issue date.
- Late fee: in case of a delayed payment, it will be applied an fixed allowance for the recovery costs of 40 € (Code of Commerce – Art D441-5). Fee rate when no payment: 5 %.
- Discount terms: no discount.

#### Right of withdrawal:

The Customer, as soon as the sale's contract has been signed by both parties (the Customer and Manon Bourgeois-Cuny), has a right of withdrawal until 72 hours before the beginning of the service delivery notified on this sale's contract, beyond this delay, the delivery is due and will be billed.

#### Liability:

Manon Bourgeois-Cuny will not accept any responsibility for any damage caused by the animals during the period of care mentioned on the contract and for any escape of animals caused by events independent of her will. If it was to happen, she would do everything to regularize the situation, within the limits of her abilities.
The liability of Manon Bourgeois-Cuny will not be questioned except in case of a lack in her obligation of means, the Customer will not be able to plead it if he omitted to mention a necessary information to the good execution of the delivery or in case of force majeure or other causes independent of Manon Bourgeois-Cuny's will.

#### Case of force majeure:

The liability of Manon Bourgeois-Cuny will not be accepted if the non-execution or the delay in the execution of one of her obligations described in these current terms of sale ensues from a case of force majeure. In that respect, force majeure shall mean any unforeseeable and irresistible external event within the meaning of article 1148 of the Civil Code.

#### Competent jurisdiction:

Any dispute relating to the interpretation and performance of these current terms of sale shall be governed by French law. If the dispute cannot be resolved out of court, it will be referred to the commercial Court of Angoulême (16).

#### Contract termination:

If one or several animals cared during the delivery turn(s) out to be aggressive toward Manon Bourgeois-Cuny or present(s) an abnormal or dangerous behavior, making the execution of the delivery impossible, Manon Bourgeois-Cuny will be able to terminate the bind to the Customer, which means the contract.
{% endmarkdown %}
</section>
{% endblock main %}
