{% extends "page.template.html" %}
{% set language = "en" %}

{% set title -%}
Manon
{% endset %}

{% set page_title -%}
Manon - Visits and Animal-Sitting at Home for Horses, Dogs, Cats in Charente Limousine
{% endset %}

{% set default_subtitle -%}
{% markdown %}
Visits and Animal-Sitting at home

**Horses**, Dogs, Cats, etc.

For Professionals and Individuals

**Leave with your Mind at Ease!**
{% endmarkdown %}
{% endset %}
{% set subtitle = subtitle | default(default_subtitle) %}

{% set description -%}
Manon Bourgeois-Cuny: visits and animal-sitting at home for horses, dogs cats in Charente Limousine, professionals and individuals, leave your mind at ease. Free quote.
{% endset %}

{% set keywords -%}
manon bourgeaois cuny horse dog cat visit sitting cat-sitting dog-sitting horse-sitting cat-sitter dog-sitter charente limousin Bellac Saint-Junien Confolens Availles-Limouzine Mézières-sur-Issoire Brigueuil Saint-Maurice-des-Lions Brillac Blond Nouic Montrollet holidays travel
{% endset %}

{% set social_file = "social-en.png" %}

{% set copyright -%}
{% markdown %}
© Manon Bourgeois-Cuny 2022- • Siret: 89915225000010 • APE Code: 9609Z

Self-Company of visits and sittings at home in Charente Limousine

V.A.T. not applicable, CGI art.293

Professional Insurance at La Maif
{% endmarkdown %}
{% endset %}

{% set contact_tag = "manon-bourgeois-cuny" %}
{% set contact_title = "Contact" %}

{% block main_info %}
{% markdown %}
### Manon Bourgeois-Cuny

**12 years** of Professional Experience Caring for Horses ([resume](/docs/cv-manon-fr.pdf))<br>
Animal Production Diploma, Horseriding Instructor<br>
Horse Valorization Diploma, Pet Knowledge Certificate<br>

**FREE** First meeting & quote!

Phone me at [**06.80.71.77.70**](tel:+33680717770)<br>
or email me: [contact](mailto:)

Find the latest news on [our Facebook page](https://www.facebook.com/Manon-Visites-et-Gardes-%C3%A0-Domicile-Charente-Limousine-Chevaux-et-autres-102193779157633)

4, rue de la Fontaine Royal<br>16420 Lesterps

{% endmarkdown %}
{% endblock main_info %}

{% set services_prices_tag = "services-and-pricing" %}
{% set services_prices_title = "Services" %}
{% block services_prices %}
{% markdown %}
### Services and Pricing

Most animals love “their home”, their living space with their routine, and really dislike any kind of change, even for a short period of time.
That's why I'm offering to come to your place, when you are away, to take care of your animals, where they are comfortable and reassured, in order to care for them in the best possible way in your absence.

#### Services

**Visits at home**: Frequency depending on your needs (once every other day, once or twice a day…)

**Animal-Sittings at home**: Duration depending on your needs (a few hours, a half day, a whole day, a night, several days, a week…)

**A typical visit**:

- I take care of your animal: attention, water, food, environment
- I check that your animal is doing well: physically and morally
- I take care of basic cleaning

**I can also offer extras such as**:

- Special care, special need (medical or else)
- grooming
- outside walks/game time
- extensive cleaning (box cleaning…)
- special handling
- work of your horse
- watering plants
- others

**I will send you some news** following each visit with a text message or e-mail with pictures.

**In case of any issue**, I will contact you right away, and your vet if needed.

#### Pricing

The first meeting is free and allows us to get to know each other and your animal, to understand the tasks which will have to be done, to specify what you need and agree on a quote if necessary.

One classic visit, for 1 or 2 animals, lasting around 30 minutes:<br>**15 € + kilometer allowance**\*

One classic visit, for 1 or 2 animals, lasting around 1 hour:<br>**20 € + kilometer allowance***


One visit for more than 2 animals and/or lasting more than 1 hour:<br>**Free personalized quote on request**

One animal-sitting at home:<br>**Free personalized quote on request**

<small>
\*Kilometer allowance is calculated by the website "viamichelin.fr" the day of the visit (it depends on the gas price, the distance between your house and mine at Lesterps, and my current car: renault clio II from 2003 1.2 16V 75).

For example:

- If your home is 10 kms away (20 kms round trip), with 2 € / Liter gas price, kilometer allowance would be 3,50 €.
- If your home is 20 kms away (40 kms round trip), with 2 € / Liter gas price, kilometer allowance would be 7 €.
- If your home is 30 kms away (60 kms round trip), with 2 € / Liter gas price, kilometer allowance would be 10,50 €.
</small>

{% endmarkdown %}
{% endblock services_prices %}

{% block map_text %}
{% markdown %}

### Servicing area

I can get to around 25km around Lesterps: Bellac, Saint-Junien, Confolens, Availles-Limouzine, Mézières-sur-Issoire, Brigueuil, Saint-Maurice-des-Lions, Brillac, Blond, Nouic, Montrollet... If you're unsure, [contact me](#manon-bourgeois-cuny)!

{% endmarkdown %}
{% endblock map_text %}

{% set about_me_tag = "about-manon" %}
{% set about_me_title = "About me" %}

{% block about_me %}
{% markdown %}
### About Manon

I decided to start this activity after several owners these last years asked me to take care of their horses and pets while they were away.
These people were looking for someone they could trust, who was available and knew how to take care of horses.
With more than 12 years of working with horses in France and abroad, including being a horse breeding manager, I became the person to contact in case of departure, even unexpected, to check that the animal “family” members staying at home were doing well.

In addition to my practical experience, I hold a diploma in animal production with an equine specialization and another one in marketing and valorization in the equine sector which are both offering me a theoretical knowledge foundation I'm using everyday.

 Furthermore, holding a horse-riding instructor diploma since 2011 and riding in eventing shows in my free time, I regularly work with horses, both doing ground and ridden work. So, I offer to work your horses if you wish.

I found that horse owners often have other animals. That's why I decided to pass the Acaced (pet knowledge certificate) to better address these requests.

I, myself, am a horse and cat owner for several years, and I have sometimes had to go away, so I totally understand your essential need to find the right person which should be totally trustworthy and able to provide serenity for you and well-being for your animals.

Over time, I gained some work experience thanks to various assignments I got to do, both with professionals and individuals. These opportunities allowed me to meet a lot of animals and to create relationships with them, to get to know them better along with teir own personalities.
I was able to notice that all the horses, dogs and cats enjoyed the love, attention and care I provided to them, and [their owners were delighted](#testimonies).

Your trust during all these years is the main asset which allows me, each day, to combine my work with my passion, taking care and communicating with animals.
I will continue to commit myself with lots of love, thoroughness and professionalism to the well-being of your animal fellows !

**With Manon and her animal-sitting, leave with your mind at ease :)**

{% endmarkdown %}
{% endblock about_me %}

{% block testimonies_t1 %}
{% markdown %}

### Testimonies

> It has been now more than 10 years that we are regularly asking Manon to take care of our equestrian enterprise while we are away, for lapses of time varying from one day to ten days in a row. Each time, it allowed us to leave with a peace of mind, knowing she will care for the horses as if they were her own. Everyday she's able to manage the well-being of our 50 horses (breeding and working ones), 3 dogs and 2 cats, double-checking each individual to be sure they have everything they need and to have an appropriate response concerning any kind of trouble.
> Furthermore, Manon has a very good horse knowledge, she's got the “breeder's eye”. She's also a qualified rider ; her equestrian skill allows her to work with horses in autonomy while respecting their psychological and physical integrity, either from the ground or riding.
> Manon is an extremely thorough person who proves to have a great professional conscience in everything she undertakes.
> You can trust your protégés to her with your eyes closed, she will know how to take care of them following your instructions to the letter.

<cite>**Aude-Lyne and Alan**, Managers of Domaine de Gauchoux, Equestrian Center and Horse Breeding in Peyrat-de-Bellac (87300)</cite>

{% endmarkdown %}
{% endblock testimonies_t1 %}

{% block testimonies_t2 %}
{% markdown %}

> I have known Manon (Bourgeois-Cuny) for several years, she looks after our horses when we are away from home, often weeks at a time, she is very competent, reliable and trustworthy and a nice person, she understands horses very well and we have no worries leaving the horses in Manons care.
> She also looks after our cats, fish and plants so is adaptable and capable. I can highly recommend Manon if you are looking for a horse/house/pet sitter.

<cite>**Clare**, Horse (cat, fish and houseplants) owner in Nouic (87330)</cite>

{% endmarkdown %}
{% endblock testimonies_t2 %}

{% block testimonies_t3 %}
{% markdown %}

> Manon is amazing! Manon is skilled in so many aspects of pet care and she is a true horseman with full knowledge of equine behavior, care, riding, and training. You can be away with confidence, knowing that all of your animals will have excellent care. Manon cared for our equestrian center and our pets on numerous occasions during several different years. Manon really LOOKS at all of your animals every time she is with them, reading their body language and assessing their health.
> Manon managed our 25 to 30 horses (stallions, mares, foals, youngsters, and school horses), along with our inside cats, our outside cats, our barn cat, and our dogs. In addition to "normal" time spent with our animals, some individuals required special diets, administration of medications, and horses with specific training regimens.

<cite>**Nancy and Trey**,  E Komo Mai Sport Horses Managers, Equestrian Center and Horse Breeding in Hawai'i (USA)</cite>

{% endmarkdown %}
{% endblock testimonies_t3 %}

{% block testimonies_t4 %}
{% markdown %}

I resorted to Miss Manon Bourgeois-Cuny's skills, since several years, about the taking care of my two horses while I'm away or on a holiday leave. (Both on week days and public holidays).
Her performance is done with a lot of seriousness and thoroughness. She gives appropriate cares if she notices anything unusual and has a lot of knowledge concerning vet products.
I'm fully satisfied with her work and I warmly recommend her.


<cite>**Isabel**, Horse owner in Montrollet (16420)</cite>

{% endmarkdown %}
{% endblock testimonies_t4 %}

{% block testimonies_t5 %}
{% markdown %}

> Part of my job consists in doing « animal mediation », which explains the diversity of animals I own in the heart of my professional structure.
> Manon knows how to adapt to their different needs (rabbits, dwarf pigs, goat, sheep, dogs, ponies, donkeys, horses). She's extremely thorough, she has an acute sense of observation concerning the good health of everyone, animal well-being is her priority.
> Her skills in horsemanship are allowing me to let her work my horses when I need her to. Her approach is always just, either with ground work or on horseback.
> I've got absolute trust in her, and each time I'm leaving my structure for several days, I don't have any stress. So I can only recommend her.

<cite>**Anne-Karine**, Manager of the business structure: La Petite Maison de Gauchoux in Peyrat-de-Bellac (87300)</cite>

{% endmarkdown %}
{% endblock testimonies_t5 %}

{% block testimonies_t6 %}
{% markdown %}

> I'm extremely satisfied with everything Manon did for my mare during her six-month recovery. She took care of the daily treatment and progressive return to work while I was away. Manon did a wonderful job: day after day, she reported to me the detailed evolution of my mare's recovery process, and made sure to follow both my and the vet's instructions to the letter.
> I trust her completely given her experience in tending for and working horses, and it worked amazingly. My mare is now healthy, and while I hope she stays that way, I've found a trusted professional to call if it were to happen again.

<cite>**Sarah**, Horse owner in Poitiers (86000)</cite>

{% endmarkdown %}
{% endblock testimonies_t6 %}

{% block testimonies_t7 %}
{% markdown %}

> I contacted Manon to take care of my 6 dogs and my house, she was able to secure me and reassure me on our first meeting.
> She's got a really good contact with animals, her calm and patience make them come naturally to her.
> She's a thorough hardworker.
> She sends a little message which reassures and gives us a heartwarming feeling while we're away.
> Anyway, I strongly recommend Manon, professional and fully dedicated to the animals we entrust her to take care of.

<cite>**Cécile**, Dog owner in Peyrat-de-Bellac (87300)</cite>

{% endmarkdown %}
{% endblock testimonies_t7 %}

{% block testimonies_t8 %}
{% markdown %}

> Manon has cared for my 3 horses, 2 ponies and 3 dogs whilst I have been on holiday, Manon is responsible, reliable and caring.
> I will be asking her again this year to look after my animals.

<cite>**Laurel**, Horse and Dog owner in Nouic (87330)</cite>

{% endmarkdown %}
{% endblock testimonies_t8 %}

{% block testimonies_t9 %}
{% markdown %}

> I'm the owner of 3 horses, living all year round in pastures, and I regularly need Manon's skills when I'm gone:she then comes by everyday and makes sure they're doing ok. She ensured to feed them (food ration and hay following my instructions), to check the water and refill, and also she doesn't hesitate to contact me if she's not sure about something concerning their health.
> If I'm not available, Manon is fully capable of managing whatever the issue might be thanks to her experience in the breeding world, so I'm able to leave with serenity. I recommend her to whoever would like to go away and is in need of a trustworthy person who can be here for their horses.

<cite>**Mélanie**, Horse owner in Peyrat-de-Bellac (87300)</cite>

{% endmarkdown %}
{% endblock testimonies_t9 %}

{% set photos_tag = "photos" %}
{% set photos_title = "Pictures" %}

{% set terms_title = "Terms and Conditions" %}
