{% extends "base.template.html" %}
{% set language = "fr" %}

{% set title -%}
Manon
{% endset %}

{% set subtitle -%}
Gardes d'animaux et visites à domicile en Charente-Limousine
Partez l’esprit tranquille !
{% endset %}

{% set description -%}
Manon B-C garde vos chiens, chats, chevaux: visites à domicile en Charente-Limousine, professionnels et particuliers, visites et gardes à domicile, partez l’esprit tranquille. Devis gratuit sur demande.
{% endset %}

{% set keywords -%}
chien chat garde visite domicile chien TODO Lister les villes etc
{% endset %}

{% set social_file = "social-fr.png" %}

{% set copyright -%}
{# https://entreprendre.service-public.fr/vosdroits/F31228/personnalisation/resultat?lang=&quest0=0 #}
© Manon Bourgeois-Cuny 2022- • N° Siret : 89915225000010 • Code APE : 9609Z
Responsabilité Civile Professionnelle auprès de la MAIF
{% endset %}

{% set img_s1 = "img/img.png" %}
{% set img_alt_s1 = "TODO" %}

{% block section_1 %}
{% markdown %}
### Gardes d'animaux et visites à domicile

**12 ans** d’expérience avec les chevaux<br>
BTS Productions Animales<br>
<abbr title="Brevet professionnel de la jeunesse, de l'éducation populaire et du sport">BPJEPS</abbr> Equitation<br>
Licence Pro Equine<br>
<abbr title="Attestation de Connaissances pour les Animaux de Compagnie d'Espèces Domestiques">ACACED</abbr>

Visite de prise de contact **gratuite** !

Laissez-moi un message sur [Facebook](#),<br>par téléphone au [06 80 71 77 70](tel:+33680717770)<br>ou par email à [mb-c@hotmail.fr](mailto:mb-c@hotmail.fr)

Manon Bourgeois-Cuny<br>4, rue de la Fontaine Royal<br>16420 Lesterps

{% endmarkdown %}
{% endblock section_1 %}

{% set img_s2 = "img/img.png" %}
{% set img_alt_s2 = "TODO" %}

{% block section_2 %}
{% markdown %}

La majorité des animaux aiment leur « chez eux », leur lieu de vie avec leur routine,
et n’apprécient pas du tout un changement d’environnement, même pour une courte période.

C’est pourquoi je vous propose de me déplacer jusqu’à votre domicile, lors de vos absences,
pour prendre soin de vos compagnons, là où ils se sentent à l’aise et rassurés, afin de leur
procurer un bien-être optimal.

#### Prestations

**Visites à domicile** : Fréquence selon vos besoins (1 fois tous les 2 jours, 1 ou 2 fois par jour…)

**Gardes à domicile** :
Durée selon vos besoins (quelques heures, demi-journée, journée, nuit, plusieurs jours, semaines…)

**Lors d’une visite classique** :

- Je prends soin de lui : attention, eau, nourriture, environnement
- Je vérifie que votre compagnon va bien : physiquement et moralement
- Je veille à la propreté

**Je peux proposer en supplément, si nécessaire et selon vos souhaits** :

- Soins et traitements particuliers
- Pansages
- Promenades/temps de jeu
- Nettoyage poussé (curage de boxe…)
- Manipulations spécifiques
- Travail de votre cheval
- Arrosage de plantes
- Autres

**Je vous donne des nouvelles** après chaque visite par sms ou e-mail, accompagnées de photos.

**En cas de problème**, je vous contacte immédiatement ainsi que votre vétérinaire si besoin.

#### Tarifs :

La première rencontre est **gratuite** et permet de faire connaissance avec vous et
votre animal, de découvrir les tâches à effectuer, d’évaluer vos besoins exacts et
d’effectuer un devis si nécessaire.

- Une visite à domicile classique, pour 1 à 2 animaux, d’environ 30 mins :<br>**15 € + frais de déplacements**\*
- Une visite à domicile classique, pour 1 à 2 animaux, d’environ 1h :<br>**20 € + frais de déplacements***
- Une visite à domicile pour plus de 2 animaux et/ou plus d’1h :<br>**Devis personnalisé gratuit sur demande**
- Une garde à domicile :<br>**Devis personnalisé gratuit sur demande**

<small>*Les frais de déplacements sont calculés par le site viamichelin le jour de la visite (en fonction du prix de l’essence, des kilomètres à partir de mon domicile à Lesterps, de ma voiture : renault clio II de 2003 1.2 16V 75).
Par exemple, pour une visite à 15 kms (30 kms aller-retour), avec un prix de 2 € / Litre d’essence, les frais de déplacements vont coûter 5,30 €.</small>

{% endmarkdown %}
{% endblock section_2 %}

{% block map_text %}
{% markdown %}

### Zone d'intervention

Blabla TODO

{% endmarkdown %}
{% endblock map_text %}

{% block testimonies %}
{% markdown %}

### Témoignages

Manon est très chouette.

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum massa et ante porta ultrices. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin et nulla non est bibendum ultricies nec sed dui. Quisque laoreet nisi urna, fermentum tincidunt felis venenatis non. Suspendisse tristique quis purus accumsan lobortis. Vestibulum magna nibh, tempus vel ex id, blandit consectetur libero. Maecenas aliquam efficitur lectus a cursus. Donec a massa quis nunc tempor suscipit. Vivamus fermentum quam orci, venenatis scelerisque libero commodo in. Nunc rutrum nisi vitae nisi semper, et faucibus magna consequat.

Mauris porttitor ligula id convallis mattis. Etiam eu nisi eros. Mauris blandit convallis lacus, ac auctor quam rutrum nec. Vestibulum sed mi nulla. Aenean sit amet varius lacus. Vivamus eget euismod mauris, eget interdum felis. Fusce quis nisl fermentum, dapibus mi non, hendrerit lacus. Vivamus tincidunt erat quam, vitae ultrices nibh bibendum eget. Suspendisse suscipit urna id lorem laoreet aliquam. Proin at nibh vel metus lacinia euismod at vel dui. Praesent auctor mi ac augue semper luctus. Praesent laoreet leo ut cursus commodo. Suspendisse potenti. Pellentesque risus nisl, congue ut orci eu, scelerisque consequat diam.

Proin viverra gravida sagittis. Nam sed semper magna. Curabitur orci leo, semper ut malesuada eu, convallis sed nisl. Ut venenatis, est quis dictum dignissim, urna metus fermentum ex, laoreet condimentum quam lorem quis libero. Quisque sit amet dapibus ipsum. Etiam id luctus libero. Nullam ante ex, varius ut auctor vitae, posuere scelerisque mauris. Cras euismod neque sit amet libero hendrerit, a condimentum arcu tincidunt. Integer commodo laoreet sapien. Aliquam dapibus vestibulum augue, et posuere nulla pellentesque et.

Cras tempus ex velit, sit amet bibendum quam facilisis sed. Proin ultricies, mi finibus pretium suscipit, odio ante semper nisl, id ornare tortor erat id justo. Morbi tincidunt pulvinar sapien eu dictum. Ut sit amet ante gravida, tincidunt magna non, pharetra neque. Proin tempor eros in eros sagittis, eu consectetur quam eleifend. Sed lacinia vel diam nec tempor. Nullam ac egestas velit. Suspendisse sed ante sit amet eros lacinia varius nec in elit. Morbi vel augue purus.

Curabitur quam sem, rhoncus quis fermentum ac, tempor sollicitudin sem. Mauris pretium orci erat, sit amet euismod ligula cursus ac. Donec in sapien neque. Maecenas convallis nisl vel mauris facilisis maximus. Pellentesque venenatis leo at imperdiet aliquam. Vivamus id sapien non odio sollicitudin elementum. Suspendisse blandit pellentesque magna, sit amet ultrices nisi luctus a. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Suspendisse nibh tortor, rutrum et eros a, sodales suscipit purus. Phasellus elementum lectus pretium mauris aliquam, eget ullamcorper elit semper. Morbi ultricies turpis ut nisl aliquet, in consectetur sem molestie. Vivamus in ultricies odio.

{% endmarkdown %}
{% endblock testimonies %}
