{% extends "base.template.html" %}
{% set language =  "fr" %}

{% set title -%}
Manon B-C
{% endset %}

{% set subtitle -%}
Gardes d'animaux et  visites à domicile
{% endset %}


{% set description -%}
Manon B-C garde vos chiens, chats, chevaux: visites à domicile en Charente-Limousine, professionnels et particuliers, visites et gardes à domicile, partez l’esprit tranquille. Devis gratuit sur demande.
{% endset %}

{% set keywords -%}
chien chat garde visite domicile chien TODO Lister les villes etc
{% endset %}

{% set social_file = "social-fr.png" %}

{% set copyright -%}
{# https://entreprendre.service-public.fr/vosdroits/F31228/personnalisation/resultat?lang=&quest0=0 #}
"© 2022-, TODO"
{% endset %}

{% block intro_left %}

{% markdown %}
### Yay
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed felis mattis, iaculis nunc ac, vulputate nulla. Nullam malesuada sollicitudin nibh, et ultrices lectus semper id. Nam faucibus pharetra elit congue consequat. Duis a placerat tortor, et euismod nulla. Fusce scelerisque gravida velit et luctus. Quisque tortor justo, dignissim eget diam et, ullamcorper lacinia justo. Phasellus vestibulum eros pretium libero molestie, vel faucibus diam pellentesque. Suspendisse vitae orci id nibh elementum tincidunt. Nunc aliquam est in ante aliquam placerat. Praesent consectetur nulla nunc, et condimentum massa pharetra sed. Donec venenatis justo sit amet facilisis tincidunt. In hac habitasse platea dictumst. Suspendisse laoreet fringilla aliquet.
{% endmarkdown %}

{% endblock intro_left %}


{% block intro_right %}

{% markdown %}
### Contact
Foo Bar<br>
Laissez-moi un message sur <a href="#">Facebook</a> / <a href="#">Instagram</a> / <a href="#">Whatsapp</a> / que sais-je<br>
<a href="tel:+33600000000">06 00 00 00 00</a><br>
12 rue du Schtroumpf<br>
{% endmarkdown %}

{% endblock intro_right %}
