<nav class="fixed inset-0 bg-gray-100 z-[1500] h-min flex">
  <a class="flex-1 p-5 text-lg font-bold tracking-widest text-center uppercase hover:bg-gray-500/20" href="/">{{ cgv[lang].back_to_site_title }}</a>
  <a class="flex-1 p-5 text-lg font-bold tracking-widest text-center uppercase hover:bg-gray-500/20" href="{{ '/cgv-en' if lang == 'fr' else '/cgv' }}"><span class="{{ 'underline' if lang == 'fr' else '' }}">&#127467;&#127479;</span>&nbsp;/&nbsp;<span class="{{ 'underline' if lang == 'en' else '' }}">&#127468;&#127463;</a>
</nav>
