<nav class="fixed inset-0 bg-gray-100 h-min">
  <div class="mx-auto">
    <div class="flex">
      <a class="flex-1 hidden p-5 text-lg font-bold tracking-widest text-center uppercase sm:block hover:bg-gray-500/20" href="#" >{{ title }}</a>
      <a class="flex-1 p-5 text-lg font-bold tracking-widest text-center uppercase hover:bg-gray-500/20" target="_blank" href="https://www.facebook.com/Manon-Visites-et-Gardes-%C3%A0-Domicile-Charente-Limousine-Chevaux-et-autres-102193779157633">Facebook</a>
      <a class="flex-1 p-5 text-lg font-bold tracking-widest text-center uppercase hover:bg-gray-500/20" target="_blank" href="#">CV</a>
      <a class="flex-1 p-5 text-lg font-bold tracking-widest text-center uppercase hover:bg-gray-500/20" target="_blank" href="{{ '/en' if language == 'fr' else '/' }}"><span class="{{ 'underline' if language == 'fr' else '' }}">fr</span> / <span class="{{ 'underline' if language == 'en' else '' }}">en</a></a>
    </div>
  </div>
</nav>
